body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  width: 100%;
}

.center-align {
  margin: 0 auto;
  width: 90%;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

#image-ps1 {
  width: 45%;
  padding: 5px;
  margin-top: 5px;
  background-color: white;
  transition: 1s;
}

.section-columns-footer {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-columns-footer div {
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.section-columns-footer div h2 {
  vertical-align: center;
  font-size: 25px;
  width: 90%;
}

.section-columns-verde {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-columns-verde div {
  padding-bottom: 40px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.section-columns-verde div h2 {
  vertical-align: center;
  font-size: 65px;
  padding: 40px 10px 10px 0px;
  width: 40%;
}

.section-columns-negro {
  padding-top: 50px;
  padding-bottom: 40px;
}
.section-columns-negro div {
  padding-bottom: 40px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.section-columns-negro div h2 {
  vertical-align: center;
  font-size: 65px;
  padding: 0px 80px 10px 0px;
}

.section-columns {
  padding-top: 50px;
}
.section-columns div {
  padding-bottom: 40px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.section-columns div h2 {
  vertical-align: center;
  font-size: 65px;
  padding: 0px 80px 10px 0px;
}

.btnwhithe {
  text-decoration: none;
  border: solid 1px;
  padding: 15px 25px;
  border-radius: 6px;
  border: solid 1px white;
  color: white;
}
.btnwhithe:hover {
  background-color: white;
  border-color: black;
  color: black;
  transition: 1s;
}

.btn-black {
  border-color: black;
  color: black;
}

#intro-container {
  width: 100%;
  background-color: black;
  padding-top: 70px;
}
#intro-container menu {
  padding: 0;
  margin: 0;
}
#intro-container menu div {
  display: inline-block;
  vertical-align: center;
}
#intro-container menu #logo {
  font-size: 28px;
  width: 15%;
}
#intro-container menu #logo a {
  color: #999;
  text-decoration: none;
}
#intro-container menu #logo a:hover {
  color: #78B088;
  transition: 0.5s;
}
#intro-container menu #menu-lista {
  width: 80%;
  text-align: right;
}
#intro-container menu #menu-lista ul {
  margin: 0;
  padding: 0;
}
#intro-container menu #menu-lista ul li {
  display: inline-block;
  padding: 0;
  margin: 0 5px;
  list-style: none;
}
#intro-container menu #menu-lista ul li a {
  color: #999;
  text-decoration: none;
}
#intro-container menu #menu-lista ul li a:hover {
  color: #78B088;
  text-decoration: underline;
}

#discografia {
  background: #78B088;
  vertical-align: center;
  margin-bottom: 50px;
}

#contacto {
  background: black;
}

#bio p {
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 10px;
}
#bio a {
  font-weight: bold;
  color: #78B088;
  text-decoration: none;
}
#bio a:hover {
  color: #78B088;
  text-decoration: underline;
}

/*# sourceMappingURL=estilo.css.map */
